@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    margin: 0 auto;
    padding: 0;
} */

.work-sans-regularFont {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* ---------------------------------------Shared Style Start--------------------------------------- */
/* Custom Dark 1 */
.text-dark1{
    color: rgba(19, 19, 19, 1);
}
/* Custom Dark 2*/
.text-dark2{
    color: #424242;
}
/* Custom Dark 3 */
.text-dark3{
    line-height: 1.6rem;
    color: #727272;
}
/* Color Primary */
.text-primary{
    color: rgba(255, 144, 14, 1);
}
/* Light Background Color */
.bg-light{
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
}
/* Every Section Title */
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* Display Flex */
.display-flex{
    display: flex;
}
/* Primary Button */
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    border-radius: .5rem;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
}
.btn-primary:hover{
    opacity: 0.80;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
.main>section{
    margin-top: 85px;
}

/* ---------------------------------------Shared Style Finished--------------------------------------- */

/* *********************Navbar********************* */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-link:hover{
    text-decoration: underline;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.banner,
.navbar{
    /* border: 1px solid black; */
    max-width: 1440px;
    margin: 0 auto;
}
.brand-title{
    font-size: 2.81rem;
    font-weight: 700;
}

/* *********************Banner********************* */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-image{
    width: 100%;
}


/* *********************Team Section********************* */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 573px;
}
.feature-title>span:nth-child(1){
    font-weight: 500;
}
.team-description{
    line-height: 1.6rem;
}

/* *********************Features Section********************* */
#special-border{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
}
.shadow-card{
    /* border: 1px solid black; */
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.shadow-card>h4{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
.feature{
    gap: 100px;
    justify-content: center;
    align-items: center;
}
#btn-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
#btn-year{
    font-size: 4rem;
    font-weight: 700;
}
#btn-small{
    font-size: 1.5rem;
    font-weight: 500;
}
.feature-architect img{
    width: 100%;
}



/* *********************Some Facts Section********************* */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0 5px 0;
}
.fact-name{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px 0 5px 0;
}
.fact-description{
    width: 542px;
}


/* *********************Sponsors Style********************* */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-info>h3{
    margin-bottom: 24px;
}
.sponser-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.sponser-companies>img{
    filter: grayscale(100%);
}
.our-sponsors{
    margin-bottom: 130px;
}


/* *********************Footer Section********************* */
.ft-clr{
    width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 244, 231, 1);
}
.ft-clr>p{
    padding: 2.4rem 25.6rem;
    font-size: 1.25rem;
    text-align: center;
}

/* ---------------------------------------Media Query--------------------------------------- */
/* small device */
@media screen and (max-width: 576px){
    .nav-link{
        font-size: 25px;
    }
    .nav-item{
        /* margin: 0 auto; */
        margin-bottom: 15px;
    }
    .feature,
    .teams,
    .navbar,
    .nav-links{
        flex-direction: column;
    }
    .sponser-companies,
    .facts-container,
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
    .sponser-companies{
        gap: 50px;
        justify-items: center;
    }
    #btn-badge{
        margin: 20px 0 0 20px;
    }
    #center-please{
        margin: 0 auto;
    }
    .feature-architect{
        margin: 0 auto;
    }
    .ft-clr{
        width: auto;
        /* padding: auto; */
    }
    .ft-clr>p{
        padding: 0;
    }
}
/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px){
    .feature,
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 0 auto;
    }
    #e1,
    .section-title{
        text-align: center;
        margin: 0 auto;
    }
    .facts-container{
        display: grid;
        grid-template-columns: repeat(2, 240px);
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin: 0 auto;
    }
    .sponser-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    #btn-badge{
        margin-left: auto;
        margin-bottom: auto;
        padding: 20px 35px;
    }
    #btn-year{
        font-size: 2rem;
    }
    .ft-clr{
        width: auto;
        /* padding: auto; */
    }
    .ft-clr>p{
        padding: 20px 0;
    }
}