@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-regularFont {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style Class */
/* Custom Dark 2*/
.text-dark2{
    color: #424242;
}
/* Custom Dark 3 */
.text-dark3{
    color: #727272;
}
/* Light Background Color */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}


/* Display Flex */
.display-flex{
    display: flex;
}


/* Navbar */
.nav-links{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}
.navbar{
    justify-content: space-between;
}
.banner,
.navbar{
    border: 1px solid black;
    width: 1440px;
    margin: 0 auto;
}